@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
.forLineUp{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;/*사이드바 추가하면 위치 옮길거임*/
	margin-top: 100px;
}

.write-post-container{
	margin-top: 100px;
	position: relative;
	width: 65%;
	background: #fff;
	border: 2px solid #EEEEEE;
	padding: 20px;
	color: #626262;
}

.user-profile{
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.user-profile i{
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 38px;
	color:#E65100;
	/*border-radius: 50%;
	border: 2px solid #E65100;*/
	margin: 5px 20px 0;
}

.user-profile p{
	margin-top: -3px;
	font-weight: 500;
	color: #626262;
	
}
.user-profile small{
	font-size: 12px;
}
.post-input-container{
	padding-left: 55px;
	padding-top: 20px;
}

.post-input-container textarea{
	width: 100%;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #ccc;
	background: transparent;
	resize: none;
}

.add-post-links{
	display: flex;
	margin-top: 10px;
}

.add-post-links a{
	text-decoration: none;
	display: flex;
	align-items:center;
	color:#626262;
	margin-right: 30px;
	font-size: 13px;
}
#add-file{
	margin-top: 10px;	
}

#post-Btn{
	float: right;
	margin-top: 10px;
	border-radius: 14px;
	padding: 7px 23px;
	border: none;
	background: #E65100;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
}
#post-Btn:hover{
	background: #fff;
	border: 1px solid #E65100;
	color: #E65100;
}


/*여기부터 글 보여주는 UI*/

.post-container{
	position: relative;
	width: 65%;
	background: #fff;
	border: 1px solid #EEEEEE;
	padding: 20px;
	color: #626262;
	
}
.post-container:hover{
	background:#EEEEEE;
}

.user-profile span{
	font-size: 13px;
	color: #9E9E9E;
}

.post-text{
	color: black;
	margin: 25px 0;
	font-size: 15px;
}

.post-img{
	width: 50%;
	border-radius: 4px;
	margin-bottom: 5px;
}


#reply{
	width: 70%;
	margin-top: 20px;
	margin-left: 20%;
	padding-bottom: 3px;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #ccc;
	background: transparent;
	
}
#reply-Btn{
	width: 10%;
	float: right;
	padding: 5px 10px;
	border: 1px solid #E65100;
	cursor: pointer;
	border-radius: 14px;
	background:#fff;
}

h3{
	padding: 50px;
}



















