@charset "UTF-8";
*{
	margin: 0;
	bottom: 0;
}
.menubar{
	text-align: center;
}

.logo{
	width:150px;
	height: 110px;
	margin-left: 2rem;
	float: left;
	cursor: pointer;
}

.menubar ul{
	display: inline-flex;
	flex-wrap:wrap;
	margin-top: 1vh;
	list-style: none;
}

.menubar ul li{
	width:150px;
	margin:15px;
	padding: 15px;
}
.menubar ul li a{
	text-decoration: none;
	text-align: center;
	color: #606163;
}
.menubar ul li a:hover{
	color: #ff4321;	
}

.sub-menu-1{
	display: none;
}
.menubar ul li:hover .sub-menu-1{
	display:block;
	width: 150px;
	background-color: #FFF59D;
	border-radius:5px;

}
.menubar ul li:hover .sub-menu-1 ul{
	display: block;
	padding: 7px 7px 5px 7px;
}

.menubar ul li:hover .sub-menu-1 ul li{
	width: 120px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 5px;
	text-align:left;
}
.menubar ul li:hover .sub-menu-1 ul li:last-child{
	border-bottom: none;
}
.menubar ul li:hover .sub-menu-1 ul li a:hover{
	color: #ff4321;
}

.welcome{
	float: right;
	align-items: center;
	margin-top: 2.3rem;
	margin-right: 2rem;
	
}
.welcome a{
	text-decoration: none;
	font-weight:700;
	color: #606163;
	
}
.welcome a:hover{
	color: #ff4321;
}